body,html {
    height: 100%; /* strict required by leaflet map container */
}
.map {
    height: 100%;
    width: 100%;
    position: relative;
}

.cover {    
    cursor: pointer;
}

.sidebar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    max-width: 800px;
    background-color: #fff;
    padding: 0 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filled {
    background-color: teal;
}

li {
    cursor: pointer;
}

.myRadio {
    display: inline-block;
    width:100px;
}

.images {
    display: inline-block;
}

.img-container {
    display: inline-block;    
    margin-right:10px;
    position: relative;
    line-height:50px;
    width:50px;
}

.img-container img {
    max-width: 50px;
    max-height: 50px;

}

.img-container .close {
    position: absolute;
    top:-10px;
    right:-13px;
}

.withBorder {
    border-bottom: 1px solid gray;
    margin-bottom:20px;
}

/* .addImage { */
/*     width: 50px; */
/*     line-height:50px; */
/* } */

.pointer {
    cursor: pointer;
}

/* aa a.btn { */
/*     color: #fff; */
/* } */