.map {
    height:600px;
    width:600px;
}

.filled {
    background-color: teal;
}

li {
    cursor: pointer;
}

.myRadio {
    display: inline-block;
    width:100px;
}

.preloader {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1001;
    opacity: 0.9;
}

.preloader img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.images {
    display: inline-block;
}

.images img {
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    margin-right:10px;
}

.addImage {
    width: 50px;
    line-height:50px;
}

a.btn {
    color: #fff;
}