<form action="/test.php" method="POST" class="text-left withBorder" ng-submit="save($event)">  
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <img ng-src="{!cover()!}" class="img-responsive center-block cover" onclick="$(this).next().click()" style="max-width: 100% !important;"/>
      <input type="file" name="image[]" class="hidden" ng-model="images" onchange="angular.element(this).scope().makeThumbnails(this,event)" />
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="form-group">
        <textarea class="form-control" ng-model="title" required name="title"></textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" ng-model="annotation" name="annotation" placeholder="Добавьте краткое описание места"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Сохранить место" />
      </div>
    </div>
  </div>
</form>
